*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear{
	clear: both;
}

.header{
	width: 100%;
	height: 50px;
	color: darkgreen;
}

.header h1{
	float: left;
	font-size: 20px;
	font-weight: 100;
	font-family: cursive;
	margin-left: 10px;
}

.header p{
	font-weight:100;
	float: right;
	margin-right: 10px;
}

.profile{
	background-color: #eee;
	width: 100%;
	height: 300px;
}

.profile img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 70px 100px;
	float: left;
}

div.profileContent{
	line-height: 35px;
	margin-left: 100px;
	padding-top: 100px;
	color: gray;
	font-weight: lighter;
	font-size: 20px;
}

div.profileContent button{
	padding: 5px;
}

div.profileContent .contentImg img{
	width: 30px;
	height: 30px;
    float: right;
    border-radius: 0;
    padding:0;
    margin: 0;
}

div.contentImg{
	padding-right: 50%;
}